In [159]:
import pandas as pd
df_products = pd.read_csv("data/noahs-products.csv")
df_products = df_products[df_products['desc'].str.contains("\)")]
split = df_products['desc'].str.split('\(', expand=True)

df_products['desc'] = split[0]
df_products['colour'] = split[1].str.replace(')',"")
df_products

          sku                desc  wholesale_cost      colour
2     HOM0018        Power Radio            21.81         red
10    HOM0086     Power Crockpot            73.90      purple
14    TOY0108      Jigsaw Puzzle             3.19  Noah's Ark
30    COL0263      Noah's Jersey            21.08      orange
38    COL0295      Noah's Jersey            15.42         red
...       ...                 ...             ...         ...
1100  HOM9734      Super Machine            29.88        puce
1105  HOM9772  Automatic Blender            46.52       mauve
1110  COL9842    Noah's Gift Box             5.66      orange
1111  HOM9868         Mini Radio            18.24       white
1122  HOM9988      Mini Crockpot            59.93      purple

[191 rows x 4 columns]

In [162]:
df_orders_items = pd.read_csv("data/noahs-orders_items.csv")
df_orders_items

        orderid      sku  qty  unit_price
0          1001  COL0820    1       25.52
1          1002  TOY8907    1       12.92
2          1002  KIT5813    1        7.99
3          1002  KIT3981    2        7.21
4          1003  KIT7098    1       12.53
...         ...      ...  ...         ...
427253   215206  KIT7684    1       13.94
427254   215206  KIT9250    1        3.99
427255   215206  HOM2099    1       91.85
427256   215207  PET0148    1        5.30
427257   215207  PET7876    1        5.74

[427258 rows x 4 columns]

In [163]:
df_orders_items = df_orders_items.merge(df_products)
df_orders_items

,orderid,sku,qty,unit_price,desc,wholesale_cost,colour
0,1001,COL0820,1,25.52,Noah's Lunchbox,20.96,blue
1,1137,COL0820,1,26.26,Noah's Lunchbox,20.96,blue
2,1994,COL0820,2,23.58,Noah's Lunchbox,20.96,blue
3,3274,COL0820,1,29.05,Noah's Lunchbox,20.96,blue
4,3735,COL0820,1,27.56,Noah's Lunchbox,20.96,blue
...,...,...,...,...,...,...,...
72245,213437,HOM6626,1,90.92,Manual Bicycle,66.97,blue
72246,213505,HOM6626,1,74.98,Manual Bicycle,66.97,blue
72247,213919,HOM6626,1,76.05,Manual Bicycle,66.97,blue
72248,214325,HOM6626,1,84.06,Manual Bicycle,66.97,blue
72249,215170,HOM6626,1,83.26,Manual Bicycle,66.97,blue

In [172]:
df_orders = pd.read_csv("data/noahs-orders.csv", parse_dates=['ordered', 'shipped'])


df_orders = df_orders.merge(df_orders_items)

df_orders

,orderid,customerid,ordered,shipped,items,total,sku,qty,unit_price,desc,wholesale_cost,colour
0,1001,4308,2017-01-31 00:32:19,2017-01-31 07:15:00,NaN,25.52,COL0820,1,25.52,Noah's Lunchbox,20.96,blue
1,1011,7888,2017-01-31 08:55:39,2017-01-31 20:30:00,NaN,35.28,HOM1296,1,21.64,Electric Toaster,19.42,red
2,1012,1799,2017-01-31 09:26:43,2017-01-31 09:26:43,NaN,26.68,COL0295,1,20.39,Noah's Jersey,15.42,red
3,1013,6599,2017-01-31 09:28:19,2017-01-31 18:00:00,NaN,78.41,COL9689,1,74.09,Noah's Jewelry,62.01,azure
4,1016,7128,2017-01-31 09:59:06,2017-01-31 09:59:06,NaN,22.37,HOM2782,1,22.37,Manual Radio,19.49,magenta
...,...,...,...,...,...,...,...,...,...,...,...,...
72245,215189,9120,2022-12-16 18:00:06,2022-12-17 13:45:00,NaN,9.60,HOM9091,1,9.60,Vintage Widget,7.42,white
72246,215200,3643,2022-12-16 20:47:44,2022-12-23 13:45:00,NaN,25.44,COL8308,2,12.72,Noah's Bobblehead,9.72,green
72247,215201,11468,2022-12-16 20:52:05,2022-12-21 17:30:00,NaN,15.86,COL3461,1,7.86,Noah's Poster,5.67,orange
72248,215203,2549,2022-12-16 20:58:55,2022-12-17 16:45:00,NaN,63.52,COL1955,1,20.74,Noah's Lunchbox,15.73,white
72249,215206,11486,2022-12-16 21:32:31,2022-12-18 08:30:00,NaN,109.78,HOM2099,1,91.85,Manual Crockpot,68.33,magenta

In [173]:
df_emily = df_orders[df_orders["customerid"] == 8342]
df_emily

,orderid,customerid,ordered,shipped,items,total,sku,qty,unit_price,desc,wholesale_cost,colour
3940,12624,8342,2017-05-28 09:15:06,2017-05-28 11:00:00,NaN,17.56,HOM7105,1,17.56,Handmade Toaster,33.65,blue
28592,86371,8342,2019-06-01 12:50:16,2019-06-01 12:50:16,NaN,15.90,HOM5139,1,15.90,Electric Machine,31.81,amber
31157,94040,8342,2019-08-18 14:20:28,2019-08-18 14:20:28,NaN,78.95,HOM1216,1,53.81,Manual Mixer,94.72,orange
31158,94040,8342,2019-08-18 14:20:28,2019-08-18 14:20:28,NaN,78.95,HOM5127,1,12.34,Electric Toaster,21.72,blue
31950,96220,8342,2019-09-09 16:30:05,2019-09-09 17:45:00,NaN,9.18,COL4384,1,4.26,Noah's Poster,7.52,white
51923,154876,8342,2021-04-17 19:52:28,2021-04-17 19:52:28,NaN,76.21,HOM5838,1,39.02,Electric Crockpot,71.36,purple
51924,154876,8342,2021-04-17 19:52:28,2021-04-17 19:52:28,NaN,76.21,COL4001,1,29.39,Noah's Jewelry,53.74,yellow
67421,200947,8342,2022-07-26 08:18:05,2022-07-26 16:00:00,NaN,28.10,COL3831,1,28.10,Noah's Jewelry,49.80,orange

In [174]:
desc = df_emily['desc'].tolist()
df_orders = df_orders[df_orders['desc'].isin(desc)]
df_orders

,orderid,customerid,ordered,shipped,items,total,sku,qty,unit_price,desc,wholesale_cost,colour
1,1011,7888,2017-01-31 08:55:39,2017-01-31 20:30:00,NaN,35.28,HOM1296,1,21.64,Electric Toaster,19.42,red
3,1013,6599,2017-01-31 09:28:19,2017-01-31 18:00:00,NaN,78.41,COL9689,1,74.09,Noah's Jewelry,62.01,azure
7,1024,7632,2017-01-31 11:29:13,2017-01-31 11:29:13,NaN,115.08,HOM1216,1,115.08,Manual Mixer,94.72,orange
8,1027,5122,2017-01-31 11:37:54,2017-01-31 11:37:54,NaN,132.24,COL1184,2,66.12,Noah's Jewelry,54.23,amber
17,1058,6648,2017-01-31 15:23:49,2017-01-31 15:23:49,NaN,53.79,COL0638,1,53.79,Noah's Jewelry,43.98,purple
...,...,...,...,...,...,...,...,...,...,...,...,...
72214,215110,2867,2022-12-16 05:47:04,2022-12-16 13:45:00,NaN,9.44,COL8758,1,9.44,Noah's Poster,6.79,mauve
72218,215121,4863,2022-12-16 10:12:25,2022-12-16 14:45:00,NaN,513.67,COL4233,1,8.62,Noah's Poster,7.31,azure
72223,215130,11057,2022-12-16 11:12:35,2022-12-16 11:12:35,NaN,87.58,HOM5127,1,28.07,Electric Toaster,21.72,blue
72227,215142,8952,2022-12-16 12:12:08,2022-12-16 12:12:08,NaN,958.01,COL3050,1,69.82,Noah's Jewelry,59.54,green
72247,215201,11468,2022-12-16 20:52:05,2022-12-21 17:30:00,NaN,15.86,COL3461,1,7.86,Noah's Poster,5.67,orange

In [170]:
colours = df_emily['colour'].tolist()
df_orders = df_orders[~df_orders['colour'].isin(colours)]
df_orders

,orderid,customerid,ordered,shipped,items,total,sku,qty,unit_price,desc,wholesale_cost,colour
1,1011,7888,2017-01-31 08:55:39,2017-01-31 20:30:00,NaN,35.28,HOM1296,1,21.64,Electric Toaster,19.42,red
3,1013,6599,2017-01-31 09:28:19,2017-01-31 18:00:00,NaN,78.41,COL9689,1,74.09,Noah's Jewelry,62.01,azure
43,1143,11845,2017-02-01 13:46:15,2017-02-01 13:46:15,NaN,234.44,COL9469,1,83.99,Noah's Jewelry,64.02,puce
56,1175,1809,2017-02-01 18:58:41,2017-02-03 16:45:00,NaN,7.86,COL3669,1,7.86,Noah's Poster,6.97,puce
67,1209,7328,2017-02-02 10:02:22,2017-02-02 19:00:00,NaN,193.72,HOM5134,1,31.40,Electric Toaster,24.02,mauve
...,...,...,...,...,...,...,...,...,...,...,...,...
72200,215069,7544,2022-12-15 15:17:00,2022-12-15 16:00:00,NaN,79.80,COL3050,1,69.76,Noah's Jewelry,59.54,green
72210,215101,4196,2022-12-15 21:40:15,2022-12-17 09:30:00,NaN,114.56,COL3050,1,71.12,Noah's Jewelry,59.54,green
72214,215110,2867,2022-12-16 05:47:04,2022-12-16 13:45:00,NaN,9.44,COL8758,1,9.44,Noah's Poster,6.79,mauve
72218,215121,4863,2022-12-16 10:12:25,2022-12-16 14:45:00,NaN,513.67,COL4233,1,8.62,Noah's Poster,7.31,azure
72227,215142,8952,2022-12-16 12:12:08,2022-12-16 12:12:08,NaN,958.01,COL3050,1,69.82,Noah's Jewelry,59.54,green

In [175]:
condition_1 = df_orders['ordered'].dt.date.isin(df_emily['ordered'].dt.date)

possible_orders = df_orders[condition_1]

In [177]:
df_customers = pd.read_csv("data/noahs-customers.csv")
possible_orders = possible_orders.merge(df_customers)
possible_orders

,orderid,customerid,ordered,shipped,items,total,sku,qty,unit_price,desc,wholesale_cost,colour,name,address,citystatezip,birthdate,phone
0,12611,3348,2017-05-28 01:06:48,2017-05-28 17:00:00,NaN,1031.54,HOM5134,1,28.68,Electric Toaster,24.02,mauve,Gina Gonzalez,276A W 136th St,"Manhattan, NY 10030",1947-06-28,585-204-0098
1,12624,8342,2017-05-28 09:15:06,2017-05-28 11:00:00,NaN,17.56,HOM7105,1,17.56,Handmade Toaster,33.65,blue,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
2,86371,8342,2019-06-01 12:50:16,2019-06-01 12:50:16,NaN,15.90,HOM5139,1,15.90,Electric Machine,31.81,amber,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
3,94040,8342,2019-08-18 14:20:28,2019-08-18 14:20:28,NaN,78.95,HOM1216,1,53.81,Manual Mixer,94.72,orange,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
4,94040,8342,2019-08-18 14:20:28,2019-08-18 14:20:28,NaN,78.95,HOM5127,1,12.34,Electric Toaster,21.72,blue,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
5,96220,8342,2019-09-09 16:30:05,2019-09-09 17:45:00,NaN,9.18,COL4384,1,4.26,Noah's Poster,7.52,white,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
6,154876,8342,2021-04-17 19:52:28,2021-04-17 19:52:28,NaN,76.21,HOM5838,1,39.02,Electric Crockpot,71.36,purple,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
7,154876,8342,2021-04-17 19:52:28,2021-04-17 19:52:28,NaN,76.21,COL4001,1,29.39,Noah's Jewelry,53.74,yellow,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
8,200947,8342,2022-07-26 08:18:05,2022-07-26 16:00:00,NaN,28.10,COL3831,1,28.10,Noah's Jewelry,49.80,orange,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
9,12645,8301,2017-05-28 11:56:51,2017-05-28 11:56:51,NaN,74.78,COL8453,1,74.78,Noah's Jewelry,51.90,blue,Kerri Black,3904 10th Ave,"Manhattan, NY 10034",1970-05-23,838-589-7675
10,12660,2341,2017-05-28 13:28:41,2017-05-28 14:30:00,NaN,75.35,COL4233,1,7.52,Noah's Poster,7.31,azure,Jonathan Evans Jr.,548A W 113th St,"Manhattan, NY 10025",1963-09-18,516-240-7348
11,12689,5838,2017-05-28 16:16:03,2017-05-28 17:15:00,NaN,242.59,HOM5838,1,76.09,Electric Crockpot,71.36,purple,Steven Smith,432 W 153rd St,"Manhattan, NY 10031",1952-04-30,516-358-1307
12,12697,6515,2017-05-28 18:01:52,2017-05-28 18:01:52,NaN,77.71,COL3572,1,77.71,Noah's Jewelry,57.55,magenta,Jessica Claudia Smith,286 W 76th St,"Manhattan, NY 10024",1974-05-09,838-703-5339
13,86348,3986,2019-06-01 11:08:59,2019-06-01 11:08:59,NaN,43.72,COL7794,1,8.56,Noah's Poster,7.12,red,Anita Ford,1662A St Nicholas Ave,"Manhattan, NY 10040",1994-07-15,516-645-7010
14,86357,9406,2019-06-01 11:41:12,2019-06-01 16:45:00,NaN,52.07,COL4807,2,10.57,Noah's Poster,7.82,yellow,Richard White,803A Columbus Ave,"Manhattan, NY 10025",1975-12-21,516-278-2873
15,86372,8835,2019-06-01 12:50:25,2019-06-01 12:50:25,NaN,34.82,HOM7757,1,34.82,Electric Machine,29.43,purple,Jonathan Adams,644 Targee St,"Staten Island, NY 10304",1975-08-26,315-618-5263
16,86403,1770,2019-06-01 16:31:10,2019-06-01 16:31:10,NaN,56.01,COL3831,1,56.01,Noah's Jewelry,49.80,orange,Julie Tina Hernandez,513 W 173rd St,"Manhattan, NY 10033",1973-02-16,516-713-5712
17,86405,2769,2019-06-01 16:45:24,2019-06-01 17:45:00,NaN,85.24,COL8453,1,60.72,Noah's Jewelry,51.90,blue,Colton Anderson,251 W 119th St,"Manhattan, NY 10026",1972-01-24,838-358-8914
18,86432,9365,2019-06-01 20:30:04,2019-06-01 20:30:04,NaN,123.91,COL3572,1,73.62,Noah's Jewelry,57.55,magenta,Justin Frazier,2139 Rear Watson Ave,"Bronx, NY 10472",1997-12-17,332-678-1812
19,86435,7340,2019-06-01 20:45:18,2019-06-04 11:45:00,NaN,35.35,COL4807,1,10.45,Noah's Poster,7.82,yellow,Deborah Lucero,3086 Broadway,"Manhattan, NY 10027",1962-03-02,585-740-8463
20,93989,2885,2019-08-18 08:10:27,2019-08-18 12:15:00,NaN,102.99,COL1908,1,10.47,Noah's Poster,7.20,magenta,William Ford,969B River Ave,"Bronx, NY 10452",1958-12-25,585-861-4816
21,96173,2885,2019-09-09 09:03:53,2019-09-09 16:00:00,NaN,39.45,HOM1296,1,23.60,Electric Toaster,19.42,red,William Ford,969B River Ave,"Bronx, NY 10452",1958-12-25,585-861-4816
22,94026,4236,2019-08-18 12:47:14,2019-08-18 12:47:14,NaN,29.91,HOM5134,1,29.91,Electric Toaster,24.02,mauve,Melvin Rodriguez III,228A E 115th St,"Manhattan, NY 10029",1970-11-22,914-698-1257
23,94051,6717,2019-08-18 15:48:32,2019-08-18 17:15:00,NaN,64.50,COL6865,1,64.50,Noah's Jewelry,46.52,mauve,Dakota Soto,3776C Broadway,"Manhattan, NY 10032",1953-04-22,315-872-0643
24,94077,5199,2019-08-18 20:50:57,2019-08-25 08:45:00,NaN,96.78,COL1137,1,8.93,Noah's Poster,6.87,green,Austin Johnson Jr.,110A W 71st St,"Manhattan, NY 10023",1967-02-10,838-737-8502
25,94081,1800,2019-08-18 21:22:58,2019-08-22 18:00:00,NaN,43.41,HOM5127,1,28.07,Electric Toaster,21.72,blue,Dana Wright,513 E 74th St,"Manhattan, NY 10021",1957-05-04,838-284-6715
26,96183,9351,2019-09-09 11:19:06,2019-09-09 11:19:06,NaN,109.00,HOM5838,1,84.12,Electric Crockpot,71.36,purple,Tammie Hodges,499 E 73rd St,"Manhattan, NY 10021",1994-09-26,585-681-8986
27,96252,2686,2019-09-09 22:32:11,2019-09-13 12:30:00,NaN,109.26,COL3406,2,54.63,Noah's Jewelry,44.83,white,Sharon Gardner,1319 Elder Ave,"Bronx, NY 10472",1951-11-18,516-911-7039
28,154816,4274,2021-04-17 11:14:30,2021-04-17 11:14:30,NaN,196.73,COL3050,1,73.91,Noah's Jewelry,59.54,green,Timothy Jones,755 7th Ave,"Manhattan, NY 10019",1989-11-06,716-691-6727
29,154828,2244,2021-04-17 12:22:55,2021-04-17 12:22:55,NaN,64.62,COL4001,1,64.62,Noah's Jewelry,53.74,yellow,Frank Roach,86-2 25th Ave,"East Elmhurst, NY 11369",1998-03-29,516-520-9716
30,154843,3061,2021-04-17 13:50:31,2021-04-17 13:50:31,NaN,1562.61,COL3461,1,7.14,Noah's Poster,5.67,orange,Maria Barbara Sanchez,1418 Riverside Dr,"Manhattan, NY 10033",1999-11-17,838-599-2765
31,154856,8341,2021-04-17 15:54:57,2021-04-17 16:30:00,NaN,72.71,COL8453,1,60.48,Noah's Jewelry,51.90,blue,James Anderson,1432A Ogden Ave,"Bronx, NY 10452",1962-07-29,516-689-9580
32,200976,5911,2022-07-26 12:05:26,2022-07-26 20:00:00,NaN,91.68,COL9689,1,82.80,Noah's Jewelry,62.01,azure,Beth Mack,2193 White Plains Rd,"Bronx, NY 10462",1959-12-12,315-444-9913
33,200978,8348,2022-07-26 12:07:50,2022-07-26 12:07:50,NaN,739.31,HOM1216,1,122.39,Manual Mixer,94.72,orange,Joe Conway,110 E 89th St,"Manhattan, NY 10128",1989-08-30,607-601-8847
34,200987,11427,2022-07-26 12:44:21,2022-07-26 19:00:00,NaN,108.98,COL1908,1,9.25,Noah's Poster,7.20,magenta,Crystal Hernandez,916C Kelly St,"Bronx, NY 10459",1994-11-27,516-310-2870
35,200992,6207,2022-07-26 12:57:17,2022-07-26 12:57:17,NaN,70.74,HOM5139,1,41.82,Electric Machine,31.81,amber,Amy Watson,41-40 76th St,"Elmhurst, NY 11373",2000-03-11,585-876-8529
36,201014,5375,2022-07-26 14:59:13,2022-07-26 15:45:00,NaN,99.14,COL4807,1,10.17,Noah's Poster,7.82,yellow,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
37,201016,5753,2022-07-26 15:07:58,2022-07-26 18:15:00,NaN,349.23,HOM5134,1,32.51,Electric Toaster,24.02,mauve,Anna Wilson,1062B Ogden Ave,"Bronx, NY 10452",1937-11-28,585-593-6250
38,201033,1628,2022-07-26 16:58:27,2022-07-26 20:15:00,NaN,48.41,COL9448,1,9.57,Noah's Poster,7.60,blue,Adam Jimenez,546 W 182nd St,"Manhattan, NY 10033",1961-12-02,516-322-9064

In [179]:
possible_orders[possible_orders['ordered'].dt.date == possible_orders['shipped'].dt.date]

,orderid,customerid,ordered,shipped,items,total,sku,qty,unit_price,desc,wholesale_cost,colour,name,address,citystatezip,birthdate,phone
0,12611,3348,2017-05-28 01:06:48,2017-05-28 17:00:00,NaN,1031.54,HOM5134,1,28.68,Electric Toaster,24.02,mauve,Gina Gonzalez,276A W 136th St,"Manhattan, NY 10030",1947-06-28,585-204-0098
1,12624,8342,2017-05-28 09:15:06,2017-05-28 11:00:00,NaN,17.56,HOM7105,1,17.56,Handmade Toaster,33.65,blue,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
2,86371,8342,2019-06-01 12:50:16,2019-06-01 12:50:16,NaN,15.90,HOM5139,1,15.90,Electric Machine,31.81,amber,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
3,94040,8342,2019-08-18 14:20:28,2019-08-18 14:20:28,NaN,78.95,HOM1216,1,53.81,Manual Mixer,94.72,orange,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
4,94040,8342,2019-08-18 14:20:28,2019-08-18 14:20:28,NaN,78.95,HOM5127,1,12.34,Electric Toaster,21.72,blue,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
5,96220,8342,2019-09-09 16:30:05,2019-09-09 17:45:00,NaN,9.18,COL4384,1,4.26,Noah's Poster,7.52,white,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
6,154876,8342,2021-04-17 19:52:28,2021-04-17 19:52:28,NaN,76.21,HOM5838,1,39.02,Electric Crockpot,71.36,purple,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
7,154876,8342,2021-04-17 19:52:28,2021-04-17 19:52:28,NaN,76.21,COL4001,1,29.39,Noah's Jewelry,53.74,yellow,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
8,200947,8342,2022-07-26 08:18:05,2022-07-26 16:00:00,NaN,28.10,COL3831,1,28.10,Noah's Jewelry,49.80,orange,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316
9,12645,8301,2017-05-28 11:56:51,2017-05-28 11:56:51,NaN,74.78,COL8453,1,74.78,Noah's Jewelry,51.90,blue,Kerri Black,3904 10th Ave,"Manhattan, NY 10034",1970-05-23,838-589-7675
10,12660,2341,2017-05-28 13:28:41,2017-05-28 14:30:00,NaN,75.35,COL4233,1,7.52,Noah's Poster,7.31,azure,Jonathan Evans Jr.,548A W 113th St,"Manhattan, NY 10025",1963-09-18,516-240-7348
11,12689,5838,2017-05-28 16:16:03,2017-05-28 17:15:00,NaN,242.59,HOM5838,1,76.09,Electric Crockpot,71.36,purple,Steven Smith,432 W 153rd St,"Manhattan, NY 10031",1952-04-30,516-358-1307
12,12697,6515,2017-05-28 18:01:52,2017-05-28 18:01:52,NaN,77.71,COL3572,1,77.71,Noah's Jewelry,57.55,magenta,Jessica Claudia Smith,286 W 76th St,"Manhattan, NY 10024",1974-05-09,838-703-5339
13,86348,3986,2019-06-01 11:08:59,2019-06-01 11:08:59,NaN,43.72,COL7794,1,8.56,Noah's Poster,7.12,red,Anita Ford,1662A St Nicholas Ave,"Manhattan, NY 10040",1994-07-15,516-645-7010
14,86357,9406,2019-06-01 11:41:12,2019-06-01 16:45:00,NaN,52.07,COL4807,2,10.57,Noah's Poster,7.82,yellow,Richard White,803A Columbus Ave,"Manhattan, NY 10025",1975-12-21,516-278-2873
15,86372,8835,2019-06-01 12:50:25,2019-06-01 12:50:25,NaN,34.82,HOM7757,1,34.82,Electric Machine,29.43,purple,Jonathan Adams,644 Targee St,"Staten Island, NY 10304",1975-08-26,315-618-5263
16,86403,1770,2019-06-01 16:31:10,2019-06-01 16:31:10,NaN,56.01,COL3831,1,56.01,Noah's Jewelry,49.80,orange,Julie Tina Hernandez,513 W 173rd St,"Manhattan, NY 10033",1973-02-16,516-713-5712
17,86405,2769,2019-06-01 16:45:24,2019-06-01 17:45:00,NaN,85.24,COL8453,1,60.72,Noah's Jewelry,51.90,blue,Colton Anderson,251 W 119th St,"Manhattan, NY 10026",1972-01-24,838-358-8914
18,86432,9365,2019-06-01 20:30:04,2019-06-01 20:30:04,NaN,123.91,COL3572,1,73.62,Noah's Jewelry,57.55,magenta,Justin Frazier,2139 Rear Watson Ave,"Bronx, NY 10472",1997-12-17,332-678-1812
20,93989,2885,2019-08-18 08:10:27,2019-08-18 12:15:00,NaN,102.99,COL1908,1,10.47,Noah's Poster,7.20,magenta,William Ford,969B River Ave,"Bronx, NY 10452",1958-12-25,585-861-4816
21,96173,2885,2019-09-09 09:03:53,2019-09-09 16:00:00,NaN,39.45,HOM1296,1,23.60,Electric Toaster,19.42,red,William Ford,969B River Ave,"Bronx, NY 10452",1958-12-25,585-861-4816
22,94026,4236,2019-08-18 12:47:14,2019-08-18 12:47:14,NaN,29.91,HOM5134,1,29.91,Electric Toaster,24.02,mauve,Melvin Rodriguez III,228A E 115th St,"Manhattan, NY 10029",1970-11-22,914-698-1257
23,94051,6717,2019-08-18 15:48:32,2019-08-18 17:15:00,NaN,64.50,COL6865,1,64.50,Noah's Jewelry,46.52,mauve,Dakota Soto,3776C Broadway,"Manhattan, NY 10032",1953-04-22,315-872-0643
26,96183,9351,2019-09-09 11:19:06,2019-09-09 11:19:06,NaN,109.00,HOM5838,1,84.12,Electric Crockpot,71.36,purple,Tammie Hodges,499 E 73rd St,"Manhattan, NY 10021",1994-09-26,585-681-8986
28,154816,4274,2021-04-17 11:14:30,2021-04-17 11:14:30,NaN,196.73,COL3050,1,73.91,Noah's Jewelry,59.54,green,Timothy Jones,755 7th Ave,"Manhattan, NY 10019",1989-11-06,716-691-6727
29,154828,2244,2021-04-17 12:22:55,2021-04-17 12:22:55,NaN,64.62,COL4001,1,64.62,Noah's Jewelry,53.74,yellow,Frank Roach,86-2 25th Ave,"East Elmhurst, NY 11369",1998-03-29,516-520-9716
30,154843,3061,2021-04-17 13:50:31,2021-04-17 13:50:31,NaN,1562.61,COL3461,1,7.14,Noah's Poster,5.67,orange,Maria Barbara Sanchez,1418 Riverside Dr,"Manhattan, NY 10033",1999-11-17,838-599-2765
31,154856,8341,2021-04-17 15:54:57,2021-04-17 16:30:00,NaN,72.71,COL8453,1,60.48,Noah's Jewelry,51.90,blue,James Anderson,1432A Ogden Ave,"Bronx, NY 10452",1962-07-29,516-689-9580
32,200976,5911,2022-07-26 12:05:26,2022-07-26 20:00:00,NaN,91.68,COL9689,1,82.80,Noah's Jewelry,62.01,azure,Beth Mack,2193 White Plains Rd,"Bronx, NY 10462",1959-12-12,315-444-9913
33,200978,8348,2022-07-26 12:07:50,2022-07-26 12:07:50,NaN,739.31,HOM1216,1,122.39,Manual Mixer,94.72,orange,Joe Conway,110 E 89th St,"Manhattan, NY 10128",1989-08-30,607-601-8847
34,200987,11427,2022-07-26 12:44:21,2022-07-26 19:00:00,NaN,108.98,COL1908,1,9.25,Noah's Poster,7.20,magenta,Crystal Hernandez,916C Kelly St,"Bronx, NY 10459",1994-11-27,516-310-2870
35,200992,6207,2022-07-26 12:57:17,2022-07-26 12:57:17,NaN,70.74,HOM5139,1,41.82,Electric Machine,31.81,amber,Amy Watson,41-40 76th St,"Elmhurst, NY 11373",2000-03-11,585-876-8529
36,201014,5375,2022-07-26 14:59:13,2022-07-26 15:45:00,NaN,99.14,COL4807,1,10.17,Noah's Poster,7.82,yellow,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
37,201016,5753,2022-07-26 15:07:58,2022-07-26 18:15:00,NaN,349.23,HOM5134,1,32.51,Electric Toaster,24.02,mauve,Anna Wilson,1062B Ogden Ave,"Bronx, NY 10452",1937-11-28,585-593-6250
38,201033,1628,2022-07-26 16:58:27,2022-07-26 20:15:00,NaN,48.41,COL9448,1,9.57,Noah's Poster,7.60,blue,Adam Jimenez,546 W 182nd St,"Manhattan, NY 10033",1961-12-02,516-322-9064