In [6]:
import pandas as pd
df = pd.read_csv("data/noahs-customers.csv", parse_dates=["birthdate"])
df

,customerid,name,address,citystatezip,birthdate,phone
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043
...,...,...,...,...,...,...
11075,12075,Catherine Wells,693 E 101st St,"Brooklyn, NY 11236",1972-07-06,716-656-2836
11076,12076,Kevin Cooper,360 Edgecombe Ave,"Manhattan, NY 10031",1994-07-22,315-496-6981
11077,12077,Darius Johnson,2247 Grand Ave,"Bronx, NY 10453",1989-06-18,716-797-4450
11078,12078,Ryan Jones,1538 Park Pl SW,"Los Angeles, CA 90016",1949-03-12,415-584-2656
11079,12079,Gregory Weiss,113 Mackenzie St,"Brooklyn, NY 11235",1990-08-27,516-736-1869

In [12]:
condition_1 = df["birthdate"].dt.year.isin([1934, 1946, 1958, 1970, 1982, 1994, 2006])
condition_2 = df["birthdate"].dt.month.isin([3,4])
condition_3 = df["birthdate"].dt.day!=20
condition_4 = df['citystatezip'].str.contains("South Ozone Park")

df[condition_1 & condition_2 & condition_3 & condition_4]

,customerid,name,address,citystatezip,birthdate,phone
1273,2274,Brent Nguyen,109-19 110th St,"South Ozone Park, NY 11420",1958-03-25,516-636-7397